<style>
table, th, td {
    border: 1px solid black;
}
</style>



<div style="font-size:20px; width:90%; margin:auto;">
 <form action="/postWorkout" method="POST">
  <!-- <br> -->
  <div style="float:right;">
    <br>Level:
    <select name="selectLevel">
      {% for level in thisLevels %}
      <option value={{level}}>Level {{level}}</option>
      {% endfor %}
    </select> 
    <input style="margin:auto; margin-left:10px;" type='submit' onclick="" value='Change Level' name="changeLevel" id='btn'></input>
    <br>Level Group:
    <select name="selectLevelGroup">
      <option value="1">1-5</option>
      <option value="2">6-10</option>
      <option value="3">11-15</option>
      <option value="4">16-25</option>
    </select> 
    <input style="margin:auto; margin-left:10px; margin-right:10px;" type='submit' onclick="" value='Change Level Group' name="changeLGroup" id='btn'></input>
  </div>
  Change Workout:
  <!-- {{selectedWeek}}
  {{selectedDay}}
  {{selectWorkoutList}} -->
  <select name="changeWorkoutSelect" style="margin-top:15px;">
    <option value="{{thisWorkoutID}}" class="select-hr">
      Week {{selectedWeek}}: Day {{selectedDay}} - {{thisDate}}
    </option>
    <hr>
    {% for S in selectWorkoutList %}
      {% if S.Week != selectedWeek or S.Day != selectedDay %}
        <option value="{{S.ID}}">Week {{S.Week}}: Day {{S.Day}} - {{S.Date}}</option>      
      {% endif %}
    {% endfor %}
  </select> 
  <input style="margin:auto; margin-left:10px;" type='submit' onclick="" value='Change Workout' name="changeWorkoutBtn" id='btn'></input>
</form>

Exercise Types: 
 {% for Type in ETypes %}
  {{Type}}, 
 {% endfor %}
 <br><br>
 <b>Workout Date: {{thisDate}}</b><br>
 <b>Completed: {{UserDict.thisWorkout.Completed}}</b>
 <!-- Test -->
<form action="/postWorkout" method="POST" style="margin-top:0px;">
<table style="font-size:20px; margin-top:25px; width:100%;">
  <tr>
    <th>Pattern</th>
    <th>Exercise</th> 
    <th>Reps</th>
    <th>Weight</th>
    <th>RPE</th> 
    <th>Tempo</th>
  </tr>
  {% for P in Patterns %}
        <tr>
          <!-- Pattern Column -->
          <td>{{P.type}} ({{P.number}})</td>
          <!-- Exercise Name Column -->
          <td>{{P.name}} : {{P.workoutType}}, Sets: {{P.sets}}{% if P.workoutType == 'stop' or P.workoutType == 'drop' %},
            {{P.specialValue}} 
            {% if P.workoutType == 'drop' %}
            %
            {% endif %}
          {% endif %}
        </td> 
          <!-- Reps Column -->
          <td style="padding:0px; width:200px;">
          {% for S in P.setList %} <!-- Used to be P.CurrentSets -->
                <div style="border:solid 1px black;">
                Reps: 
                {% if P.workoutType == 'carry' %}
                  {{S.reps}} seconds
                {% elif P.workoutType == 'bodyweight' %}
                  {% if S.Filled %}                  
                    <input type="text" placeholder="Enter Reps" value="{{S.Reps}}"
                    name = "{{P.number}}|Reps|{{S.SetNum}}" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;">
                  {% else %}
                    <input type="text" placeholder="Enter Reps" 
                    name = "{{P.number}}|Reps|{{S.SetNum}}" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;">
                  {% endif %}
                {% else %}
                  {{S.Reps}}
                {% endif %}
                </div>
          {% endfor %}
          {% if P.alloy %}            
            <div style="border:solid 1px black; background-color:yellow;">                
            {% if P.alloystatus.value == 2 %}            
                  Reps: {{P.alloyreps}} +
                  <input type="text" placeholder="Enter Reps" 
                  name = "{{P.number}}|X|Alloy" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;">
            {% elif P.alloystatus.value == 1 %}
                  {{P.alloyperformed}} PASS            
            {% elif P.alloystatus.value == -1 %}
                  {{P.alloyperformed}} FAIL            
            {% else %}
                  Reps: {{P.alloyreps}} +
            {% endif %}
            </div>
          {% endif %}
          </td>
          <!-- Weight Column -->
          <td style="padding:0px; width:200px;">
          {% for S in P.setList %} <!-- Used to be P.CurrentSets -->
                <div style="border:solid 1px black;">                
                <!-- <input hidden name="inputCodes" value = "{{P.number}}|W|{{S}}" style="margin:0px; width:100%; height:100%;"> -->
                Weight:
                {% if P.workoutType == 'bodyweight' %}                
                  Bodyweight
                {% elif S.Filled %}                  
                <!-- Testing -->
                  {% if P.stop or P.drop %}
                    &nbsp; &nbsp; {{S.Weight}}                    
                  {% elif (P.alloystatus.value == 2) or (P.alloystatus.value == -1) or (P.alloystatus.value == 1) %} 
                    {{S.Weight}} lbs            
                  {% else %}
                    <input type="text" placeholder="Enter Weight" value = "{{S.Weight}}"
                    name = "{{P.number}}|W|{{S.SetNum}}" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;">
                  {% endif %}
                {% else %}
                    {% if P.workoutType == 'bodyweight' %}
                      &nbsp; &nbsp; Bodyweight
                    {% elif P.specialStage >= 1 %}
                      (Dropped) {{P.dropWeight}}
                    {% else %}
                    <input type="text" placeholder="Enter Weight" value = ""
                    name = "{{P.number}}|W|{{S.SetNum}}" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;">
                    {% endif %}
                {% endif %}
                </div>
          {% endfor %}
          {% if P.alloy %}
                <div style="border:solid 1px black; background-color:yellow;">                
                {% if (P.alloystatus.value == 2) or (P.alloystatus.value == -1) or (P.alloystatus.value == 1) %} 
                    Alloy: {{P.alloyweight}} 
                {% else %}
                    Alloy Weight
                {% endif %}
                </div>
          {% endif %}
          </td>

          <!-- RPE Column -->
          <td style= "width:200px; padding:0px;">
          {% for S in P.setList %} <!-- Used to be P.CurrentSets -->
            <div style="border:solid 1px black;">
                <!-- RPE: {{P.RPE}} -->
            {% if P.workoutType == 'carry' %}
                &nbsp; &nbsp; &nbsp; &nbsp;---
            {% elif S.Filled %}
                  {% if P.stop or P.drop %}
                    &nbsp; &nbsp; &nbsp; &nbsp; {{S.RPE}}
                  {% elif (P.alloystatus.value == 2) or (P.alloystatus.value == -1) or (P.alloystatus.value == 1) %} 
                    &nbsp; &nbsp; &nbsp; &nbsp; {{S.RPE}}
                  {% else %}
                  RPE: {{S.SuggestedRPE}}
                  <select name="{{P.number}}|RPE|{{S.SetNum}}" style="float:right;">
                    <option value={{S.RPE}}>{{S.RPE}}</option>
                    {% for Option in RPEOptions %}
                      <option value={{Option}}>{{Option}}</option>
                    {% endfor %}
                  </select>
                          <!-- <input type="text" placeholder="Enter RPE" value = "{{S.RPE}}"
                    name = "{{P.number}}|RPE|{{S.SetNum}}" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;"> -->
                  {% endif %}
            {% else %}
                
            RPE: {{S.SuggestedRPE}} 
              <select name="{{P.number}}|RPE|{{S.SetNum}}" style="float:right;">
                {% for Option in RPEOptions %}
                  <option value={{Option}}>{{Option}}</option>
                {% endfor %}
              </select>
                  <!-- <input type="text" placeholder="Enter RPE" 
                name = "{{P.number}}|RPE|{{S.SetNum}}" style="margin:0px; width:50%; height:100%; float:right; margin-right:5px;"> -->
            {% endif %}
            </div>
          {% endfor %}
          {% if P.alloy %}
                <div style="border:solid 1px black; background-color:yellow;">                
                  RPE: 10
                </div>
          {% endif   %}
          </td>


          <!-- Tempo Column -->
          <td style="padding:0px; width:200px;">
          {% for S in P.setList %} <!-- Used to be P.CurrentSets -->
                <div style="border:solid 1px black; padding-left:25%;">
                    3/2/X
                </div>
          {% endfor %}
          {% if P.alloy %}
                <div style="border:solid 1px black; background-color:yellow;">                
                  &nbsp;
                </div>
          {% endif   %}
          </td>
        </tr>  
      {% for S in range(0, P.sets) %}
      {% endfor %}
  {% endfor %}
</table>
<br>
<div style="margin:auto; margin-left:40%;">
        <input style="margin:auto;" type='submit' onclick="" value='SAVE' name="SaveBtn" id='btn'></input>
        <input style="margin:auto;" type='submit' onclick="" value='PREV' name="PrevBtn" id='btn'></input>        
        <input style="margin:auto;" type='submit' onclick="" value='RESET' name="ResetBtn" id='btn'></input>
        <input style="margin:auto;" type='submit' onclick="" value='NEXT' name="NextBtn" id='btn'></input>        
        <input style="margin:auto; margin-left:300px;" type='submit' onclick="" value='SUBMIT' name="SubmitBtn" id='btn'></input>

</div>
</form>

<div style="width:30%; display:inline-block; vertical-align:top;">
<b>Current Pattern Stats:</b>
 <br>
  {% for P in Patterns %}
    {{P.name}} {{P.Max}}
    <br>
    &nbsp; &nbsp; &nbsp; {{P.LastSet}}
     <br>
  {% endfor %} 
</div> 


<div style="width:30%; display:inline-block;  vertical-align:top;"> 
<b>Stat Summary:</b>
 <br>
 Alloy Status: 
 <b>
  {{levelUp.Status.value}},
  {% if levelUp.Status.value == 0 or levelUp.Status.value == 2 %}
    Testing/Unknown
  {% elif levelUp.Status.value == 1 %}
    PASSED
  {% elif levelUp.Status.value == -1 %}
    FAILED
  {% endif %}

</b> <br><br>
   Squat Alloy: <b>{{levelUp.Squat.value}}</b> <br><br>
 UB Hor Push (Bench) Status: <b>{{levelUp.UBHorPush.value}}</b> <br><br>
 Hinge Status: <b>{{levelUp.Hinge.value}}</b> <br><br>
 Other:<br><br>
</div>

<div style="width:30%; display:inline-block; vertical-align:top;"> 
<b>All User Stats:</b>
 <br>
  {% for Key, Stat in UserStats %}
    {{Key}} <b>|</b> {{Stat.Name}}, Max: {{Stat.Max}} lbs
    , Alloy:
    {% if Stat.Status.value == 1 %}
    PASSED
    {% elif Stat.Status.value == -1 %}            
    FAILED
    {% else %}
    Unknown {{Stat.Status.value}}
    {% endif %}
    <br>
    &nbsp; &nbsp; &nbsp; {{Stat.LastSet}}
    <br>
    <br>
  {% endfor %} 
</div>
</div>