<style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
    
    <h2>Viewing Workouts for: {{user.username}}</h2>
    <div>
        <form action="/reschedule" method="POST">
          New start date: <input type="date" name="restartDate">
          <br/><br/ >
          Days of the week:
          <br/>
          Monday
          <input type="checkbox" name="DoW" value="0">
          <br/>
          Tuesday
          <input type="checkbox" name="DoW" value="1">
          <br/>
          Wednesday
          <input type="checkbox" name="DoW" value="2">
          <br/>
          Thursday
          <input type="checkbox" name="DoW" value="3">
          <br/>
          Friday
          <input type="checkbox" name="DoW" value="4">
          <br/>
          Saturday
          <input type="checkbox" name="DoW" value="5">
          <br/>
          Sunday
          <input type="checkbox" name="DoW" value="6">
          <br/><br/>
          <input type='submit' onclick="" value='Reschedule Workouts' name="rescheduleBtn" id='btn'></input>
          <!-- Change Level Group:
           <select name="selectLevelGroup">
             <option value="1">1-5</option>
             <option value="2">6-10</option>
             <option value="3">11-15</option>
             <option value="4">16-25</option>
           </select> 
           <input style="margin:auto; margin-left:10px;" type='submit' onclick="" value='Select Level Group' name="selectLGroupBtn" id='btn'></input>
           <br/><br/>
           Change Block Number:
           <select name="selectLevelGroup">
             <option value="1">1-5</option>
             <option value="2">6-10</option>
             <option value="3">11-15</option>
             <option value="4">16-25</option>
           </select> 
           <input style="margin:auto; margin-left:10px;" type='submit' onclick="" value='Select Level Group' name="selectLGroupBtn" id='btn'></input> -->
      </form>
      <h2>Today is {{Now}}</h2>
      <h2>You have {{nIncomplete}} incomplete workouts. Select a new start date and days of the week to complete your remaining workouts.</h2>
        {% for W in workoutList %}
            <h3>Week {{W.Week}}, 
                Day {{W.Day}}, 
                # {{W.ID}},
                Completed: {{W.Completed}},
                Date: {{W.dateString}}
            </h3>
        {% endfor %}

      </div>
    
    <div style="font-size:20px; width:90%; margin:auto;">
      <div style="width:30%; display:inline-block;"> 
      {% for I in range(0, Workouts[1].length) %}
        <br><br>
         <b>Week {{Workouts[1][I].week}}, Day {{Workouts[1][I].day}} - ID: {{Workouts[1][I].number}}</b>, I: {{I}}
         {% for Pattern in Subworkouts[1][I] %}
           <br>{{Pattern.exerciseType}} | {{Pattern.sets}} x {{Pattern.reps}} | {{Pattern.RPE}} RPE 
           {% if Pattern.deload != 0 %}
            | Deload: {{Pattern.deload}}
           {% endif %}
         {% endfor %}
      {% endfor %}
      </div>
    
      <div style="width:30%; display:inline-block;"> 
      {% for I in range(0, Workouts[2].length) %}
        <br><br>
         <b>Week {{Workouts[2][I].week}}, Day {{Workouts[2][I].day}} - ID: {{Workouts[2][I].number}}</b>, I: {{I}}
         {% for Pattern in Subworkouts[2][I] %}
           <br>{{Pattern.exerciseType}} | {{Pattern.sets}} x {{Pattern.reps}} | {{Pattern.RPE}} RPE 
           {% if Pattern.deload != 0 %}
            | Deload: {{Pattern.deload}}
           {% endif %}
         {% endfor %}
      {% endfor %}
      </div>
    
      <div style="width:30%; display:inline-block;"> 
      {% for I in range(0, Workouts[3].length) %}
        <br><br>    
         <b>Week {{Workouts[3][I].week}}, Day {{Workouts[3][I].day}} - ID: {{Workouts[3][I].number}}</b>, I: {{I}}
         {% for Pattern in Subworkouts[3][I] %}
           <br>{{Pattern.exerciseType}} | {{Pattern.sets}} x {{Pattern.reps}} | {{Pattern.RPE}} RPE 
           {% if Pattern.deload != 0 %}
            | Deload: {{Pattern.deload}}
           {% endif %}
         {% endfor %}
      {% endfor %}
      </div>
     <br><br>
    
     <form action="/" method="POST">
     Select Level Group:
      <select name="selectLevelGroup">
        <option value="1">1-5</option>
        <option value="2">6-10</option>
        <option value="3">11-15</option>
        <option value="4">16-25</option>
      </select> 
      <input style="margin:auto; margin-left:10px;" type='submit' onclick="" value='Select Level Group' name="selectLGroupBtn" id='btn'></input>
      <br>
     Select Workout:
      <select name="selectWorkout" style="margin-top:15px;">
        <option value="W1D1">Week 1: Day 1</option>
        <option value="W1D2">Week 1: Day 2</option>
        <option value="W1D3">Week 1: Day 3</option>
        <option value="W1D4">Week 1: Day 4</option>
      </select> 
      <input style="margin:auto; margin-left:10px;" type='submit' onclick="" value='Select Workout' name="selectWorkoutBtn" id='btn'></input>
    </form>
    
     <b>User Max Stats:</b>
     <br>
      {% for P in Patterns %}
        {{P.name}} {{P.Max}}
        <br>
        &nbsp; &nbsp; &nbsp; {{P.LastSet}}
         <br>
      {% endfor %} 
    
    </div>