SIGN UP
<form method="POST" action="/api/user/signup">
    <h3>Sign-up Information</h3>
    Username: <input name="username" value="" type="text"/>
    <br><br>
    Password: <input name="P1" value="" type="text"/>
    <br><br>
    Re-Type Password: <input name="P2" value="" type="password"/>
    <br><br>
    ID: <input name="id" value="" type="number"/>
    <br><br>
    <h3>Stat Information</h3>
    Starting Level: <input name="startingLevel" value="" type="number"/>
    <br><br>
    Max Squat: <input name="maxSquat" value="" type="number"/>
    <br><br>
    Max Bench: <input name="maxBench" value="" type="number"/>    
    <br><br>
    <input name="submit" type="submit" value="Sign Up"/>    
</form>